html
    head
        title Lol
    body
    script(src="https://cdn.auth0.com/js/lock/10.2/lock.min.js")

    div(id="root")
        script.
            var lock = new Auth0Lock(
                'cxZYhQ481nzcUhK2VrvfNxNW2ANWT9qc',
                'danielchao.auth0.com'
            );
            lock.on("authenticated", function(authResult) {
                window.location = `http://localhost:3000/auth/echo?userJWT=${authResult.idToken}`;
            });
            lock.show();